<ion-view class="blackbg">
    <div class="bar bar-header navbar-color topRounded">
        <button class="button button-icon icon ion-arrow-left-c white" onclick="window.location = '#/home'"></button>
        <h1 class="title white">Add Event</h1>
        <button class="button button-icon icon ion-checkmark white" ng-click="addEvent()"></button>
    </div>
    <ion-content padding="true" class="contentContainer">

        <!--        <input type="text" pick-a-date="date" placeholder="Select Date" />
                <input type="text" pick-a-time="time" placeholder="Select Time" />-->
        
        
        <div class="list">
            <div class="item item-divider">
                Details
            </div>
            <label class="item item-input">
                <!--<span class="input-label">Title</span>-->
                <input name='title' type="text" placeholder="Title" ng-model="model.title">
            </label>
            <label class="item item-input">
                <!--<span class="input-label">Venue</span>-->
                <!--<ion-google-place placeholder="Venue" ng-model="model.venue" />-->
                <!--<input name='venue' type="text" placeholder="Venue" ng-model="model.venue">-->
                <!--<input type="text" id="autocomplete" class="form-control" ng-autocomplete ng-model="model.venue" />-->
                <input type="text" placeholder="Venue" ng-model="model.venue" googleplace="" class="ng-pristine ng-valid" autocomplete="on"> 
                <!--<i class="icon ion-close-circled appRed" ng-if="!(model.venue)"></i>-->
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">Date</span>
                <input name='date' placeholder="mm-dd-yy" type="text" onfocus="(this.type='date')" ng-model="model.date">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Start Time</span>
                <input name='start' placeholder="--:--" type="time" ng-model="model.start">
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">End Time</span>
                <input name='end' placeholder="--:--" type="time" ng-model="model.end">
            </label>
        </div>

        <div class="list">
            <div class="item item-divider">
                Who is going?
            </div>

            <div class="item item-avatar item-icon-right" ng-repeat="member in addedMembersList track by $index">
                <img src="{{getAvatar(member.points)}}">
                <h2 class="appRed" ng-if="member == loggedInUser">You</h2>
                <h2 ng-if="member != loggedInUser">{{member.name}}</h2>
                <h6 class="greyText">{{getRankName(member.points)}}</h6>
                <i class="icon ion-close-circled appRed" ng-if="member != loggedInUser" ng-click="removeMember($index)"></i>
            </div>

        </div>

        <button class="button button-block button-light" ng-click="openModal()">
            <i class="icon ion-person-add"></i> Add Members
        </button>

        <script id="add-members.html" type="text/ng-template">
            <div class="modal">
              <header class="bar bar-header bar-positive topRounded">
              <div class="button button-clear" ng-click="cancelAddMember()"><span class="icon ion-close"></span></div>
                <h1 class="title">Add Members</h1>
                <div class="button button-clear" ng-click="confirmAddMembers()"><span class="icon ion-checkmark"></span></div>
              </header>
              <content has-header="true" padding="true">
              <div class="addMemberList">
                    <div class="list">
                    
                        <div class="item item-avatar" ng-repeat="friend in friendsList track by $index">
                             <img src="{{getAvatar(friend.points)}}">
                            <span class="username">
                                <h2>{{friend.name}}</h2>
                                <h6 class="greyText">{{getRankName(friend.points)}}</h6>
                            </span>
                           <div side="right" ng-if="addedMembersList.indexOf(friend) == -1"> 
                                <label class="checkbox right-checkbox" ng-click="addMember(friend)">
                                    <input type="checkbox">
                                 </label>
                            </div>
                            <span class="item-note" ng-if="addedMembersList.indexOf(friend) > -1">
                                Added
                            </span>
                        </div>
                        
                    </div>
                </div>
              </content>
            </div>
        </script>

    </ion-content>
</ion-view>