<ion-view class="blackbg">
    <div class="bar bar-header navbar-color topRounded">
        <button class="button button-icon icon ion-arrow-left-c white" onclick="window.location = '#/home'"></button>
        <h1 class="title white">{{event.title}}</h1>
        <button class="button button-icon icon ion-checkmark white" ng-click=""></button>
    </div>

    <ion-content padding="true" class="contentContainer">
        <div>
            <img src="img/coffee.jpg" height="200" width="100%">
        </div>

        <div class="list">
            <div class="item item-divider">
                Penalty
                </span>
            </div>
            
            <div class="item item-text-wrap">
                xxxx
            </div>
            
            <div class="item item-text-wrap">
                <div class="labelSpan">Date</div> {{convertDate(event.startTime)}}
            </div>
            <div class="item item-text-wrap">
                <div class="labelSpan">Start Time</div> {{convertTime(event.startTime)}}
            </div>
            <div class="item item-text-wrap">
                <div class="labelSpan">End Time</div> {{convertTime(event.endTime)}}
            </div>
        </div>            

        <div class="list">
            <div class="item item-divider">
                Who is going?
                <span class="badge badge-light">1/{{event.attendees.length}}
                </span>
            </div>

            <div class="item item-avatar item-icon-right" ng-repeat="attendee in attendeesList track by $index">
                <img src="{{getAvatar(attendee.points)}}">
                <h2 class="appRed" ng-if="attendee.email == loggedInUser.email">You</h2>
                <h2 ng-if="attendee.email != loggedInUser.email">{{attendee.name}}</h2>
                <h6 class="greyText">{{getRankName(attendee.points)}}</h6>
                <i class="icon ion-record" ng-class="{appRed: event.attendees[$index].status == 'r', balanced: event.attendees[$index].status == 'g', balanced: event.attendees[$index].status == 'o'}"></i>
            </div>

        </div>


    </ion-content>
</ion-view>