<ion-view class="blackbg">
    <!--    <ion-nav-buttons side="left">
            <button class="button-icon button-clear" ng-click=""><i class="icon white ion-clipboard"></i></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button-icon button-clear" onclick="window.location = '#/location'"><i class="icon white ion-ios7-person"></i></button>
        </ion-nav-buttons>-->

    <div class="bar bar-header navbar-color topRounded">
        <button class="button button-icon icon ion-clipboard white"></button>
        <h1 class="title white" ng-click="logout()">PoP</h1>
        <button class="button button-icon icon ion-ios7-person white" onclick="window.location = '#/ranking'"></button>
    </div>
    <ion-content class="contentContainer">

        <ion-list>

            <div class="row btnHeight">
                <button class="col button button-clear" onclick="window.location = '#/addevent'">Add Event</button>
                <button class="col  button button-clear" onclick="window.location = '#/addfriend'">Add Friend</button>
            </div>
            <!--<button class="col  button button-clear" onclick="window.location = '#/location'">Location</button>-->
            <div class="item" ng-repeat="event in eventsList" type="item-text-wrap" ng-click="viewEvent('#/event/'+event.id)">
                <span class="item-note arrived">
                               
                            </span>
                <h2>{{event.title}}</h2>
                <span class="item-note totalMembers">
                                {{event.attendees.length}}
                            </span>
                <div><p>{{event.venue}}</p></div>
                <div><p>{{convertDate(event.startTime)}}, {{convertTime(event.startTime)}} - {{convertTime(event.endTime)}}</p></div>
                
            </div>

        </ion-list>

    </ion-content>
</ion-view>