<ion-view>
    <ion-content class="navbar-color">
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="username" name="username" ng-model="model.username">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="password" name="password" ng-model="model.password">
            </label>
        </div>
        
        <button class="button button-full button-light" ng-click="login()">
            Full Width Block Button
          </button>
    </ion-content>
</ion-view>