<ion-view title="Profile">
    <ion-nav-buttons side="left">
        <button class="button-icon button-clear" ng-click=""><i class="icon white ion-clipboard"></i></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button-icon button-clear" onclick="window.location = '#/sign-up'"><i class="icon white ion-ios7-person"></i></button>
    </ion-nav-buttons>
    <ion-content>

        <ion-list>
                <h3>{{loginUser}}</h3>
                <button class="col text-center button-clear" onclick="window.location = '#/livelab'">Login Live Lab</button>
        </ion-list>

    </ion-content>
</ion-view>
