<ion-view title="Ranking">
    <ion-nav-buttons side="left">
        <button class="button-icon button-clear" ng-click=""><i class="icon white ion-clipboard"></i></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button-icon button-clear" onclick="window.location = '#/profile'"><i class="icon white ion-ios7-person"></i></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <ion-list>

                <ion-item class="item item-avatar" ng-repeat="profile in profiles" type="item-text-wrap" href="#/profile">
                        <img src="img/rookie.png" alt="">
                        <h3>{{profile.title}}</h3>
                        <p>{{profile.description}}</p> 
                </ion-item>

            </ion-list>
        </div>
    </ion-content>
</ion-view>
