<ion-view class="blackbg">

    <div class="bar bar-header navbar-color topRounded">
        <button class="button button-icon icon ion-clipboard white" onclick="window.location = '#/newsfeed'"></button>
        <h1 class="title white" onclick="window.location = '#/home'"><img class="appLogo" src="img/PoP.png"></h1>
        <button class="button button-icon icon ion-ios7-person white" onclick="window.location = '#/ranking'"></button>
    </div>
    <ion-content class="contentContainer">
        <div class="profilePanel">
            <div class="profileAvatar"><img src='{{getAvatar(loggedInUser.points)}}' alt=""/></div>
            <div class="profileDetails">
                <div class="profileName">{{loggedInUser.name}}</div>
                <div class="profileRank">{{getRankName(loggedInUser.points)}}</div>
            </div>
            <div class="profileMore"><i class="icon ion-more icon-rotate90"></i></div>
            <div class="profilePoints">{{loggedInUser.points}}</div>
        </div>
        <div class="rankingList">
            <div class="listItem" ng-repeat="friend in friendsList track by $index">
                <div class="rank">{{rankList[$index]}}</div>
                <div class="avatar"><img src='{{getAvatar(friend.points)}}' alt=""/></div>
                <div class="details">
                    <div class="name appRed" ng-if="friend.email == loggedInUser.email">You</div>
                    <div class="name" ng-if="friend.email != loggedInUser.email">{{friend.name}}</div>
                    <div class="email">{{getRankName(friend.points)}}</div>
                </div>
                <div class="points">{{friend.points}}</div>
                <div class="pp">
                    <div>+ {{friend.punctual}}</div>
                    <div>- {{friend.penalty}}</div>
                </div>
            </div>
        </div>

    </ion-content>

    <!--    <ion-nav-buttons side="left">
            <button class="button-icon button-clear" ng-click=""><i class="icon white ion-clipboard"></i></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button-icon button-clear" onclick="window.location = '#/profile'"><i class="icon white ion-ios7-person"></i></button>
        </ion-nav-buttons>-->
    <!--    <ion-content>
            <div class="list">
                <ion-list>
    
                    <ion-item class="item item-avatar" ng-repeat="profile in profiles" type="item-text-wrap" href="#/profile">
                            <img src="img/rookie.png" alt="">
                            <h3>{{profile.title}}</h3>
                            <p>{{profile.description}}</p> 
                    </ion-item>
    
                </ion-list>
            </div>
        </ion-content>-->
</ion-view>
